@use 'mixin' as m;

//fonts
$raleway : 'Raleway', sans-serif;
$lora : 'Lora', sans-serif;
$inter: 'Inter', sans-serif;

// color
$bg-color: #FFFFFF;
$secondary: #5AACA8;
$third: #FF7468;
$bg-section: #F8FCFA;
$text-grey: #F8FCFA;


.donation {
	padding: 20px 20px;
	margin: 0 auto;
	max-width: 1440px;
	position: relative;

	.bg-effect-donation {
		display: none;
	}
	#{&}-area {
	  @include m.grid(12, 20px);
	  place-items:center;
	}

	#{&}-header{
		grid-column: span 12;
		h2 {
		  padding-top: 10px;
		  font-size: 1.8rem;
		  font-family: $lora;
		  text-align: center;
		  strong {
		  	color : $secondary;
		  }

		  @media (min-width: 768px) {
		  	font-size: 2.0rem;
		  
		  }		  
		  @media (min-width: 968px) {
		  	font-size: 2.2rem;
		  	padding-left: 30px;
		  }
		  @media (min-width: 1200px) {
		  	padding-left: 60px;
		  }
		}
	}

	#{&}-body {
		grid-column: span 12;
		@include m.grid(12, 20px);
		place-items:center;
	}

	#{&}-card {
		grid-column: span 12;
		width: 100%;
		height: auto;
		background-color: white;
		padding: 0 15px 15px;
		box-shadow: -20px 80px 40px rgba(96,96,96, .02);
		.donation-img {
			padding: 15px 0;
			width: 100%;
			height: 250px;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.donation-category {
			  position: absolute;
			  bottom: 0;
			  top: 93%;
			  left: 50%;
			  transform: translate(-50%,-50%);
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  width: auto;
			  height: 30px;
			  background-color: $third;
			  color: white;
			  padding: 5px 20px;
			  border-radius: 5px;
			  text-transform: uppercase;
			  font-size: .8rem;
			}
		}

		h4 {
		  font-size: 1.3rem;
		  line-height: 30px;
		  margin: 15px 0;
		  a {
		  	color: black;
		  }
		}

		p {
		 font-size: .95rem;
		 line-height: 25px;
		 margin: 15px 0;
		 color: #7B7D82;
		}

		.donation-bar {
			height: 5px;
			width: 100%;
			border-radius: 20px;
			margin: 35px 0 25px;
			position: relative;
			// overflow: hidden;
			background-color: #E8E8E8;

			.donation-bar-progress {
				position: absolute;
				left: 0;
				height: 100%;
				background-color: $secondary;

			}
			.donation-bar-circle {
				width: 14px;
				height: 14px;
				border-radius: 1000px;
				background-color: $text-grey;
				position: absolute;
				left: 80%;
				top: -4px;
				padding: 2px;

				div {
					width: 100%;
					height: 100%;
					border-radius: 1000px;
					background-color: $secondary;
				}

				span {
					position: absolute;
					top: -25px;
					left: -2px;
					font-size: .9rem;
					font-weight: 600;
				}
			}
		}

		.donation-info {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h5 {
			 margin: 5px 0 15px;
			}
			span {
				font-family: inter;
				font-weight: 500;
			}

			.donation-info-data {
				width: 33.333%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				&:nth-child(1) {
					span {
						color: $secondary;
					}
				}
				&:nth-child(2) {
					border-left: 2px solid #E8E8E8;
					border-right: 2px solid #E8E8E8;
					span {
						color: $secondary;
					}
				}



				&:nth-child(3) {
					span {
						color: $third;
					}
				}
			}
		}


	 @media (min-width: 968px) {
	 	grid-column: span 4;
	 	width: 320px;
	 }	 
	 @media (min-width: 1100px) {
	 	grid-column: span 4;
	 	width: 350px;
	 }
	}

	@media (min-width: 968px) {
		height: 650px;
		padding: 20px 0;
		.bg-effect-donation {
			background-color: #F8FCFA;
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}