@font-face {
	font-family: 'Raleway';
	font-weight: normal;
    font-style: normal;
	src: 
	  url('../../assets/fonts/Raleway-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Lora';
	font-weight: normal;
    font-style: normal;
	src: 
	  url('../../assets/fonts/Lora-SemiBold.ttf') format('ttf');
}
